<script type="application/javascript">
                         
              		 $(document).ready(function(){
                        init({{table.id}});
    				//	window.onunload = leave_table;
                    });
</script>
<div id="bid_form" class='base_container' style='display:none;'>
    BTC <input type='text' id='bid_input' />
    <div id="button_space">
        <div id ="submit_bid_button" class='buttonstyle' onclick="bet_button_handler()">
            Confirm
        </div>
    </div>
</div>
<div id="chat_form" class='base_container' style='display:none;'>
    <div id='chat_box'>
        <input type='text' id='chat_input' size='65' onblur="ChatBox.close();"/>
    </div>
</div>
<div id="chat_log" class='base_container'>
    <div id='chat_log_inner'>
    </div>
</div>
<div id='leave_table_button' class='buttonstyle base_container' onclick="leave_table()">
    Leave Table
</div>
<div id="dealer_cards">
</div>
<div id="player_panel">
	<div id="option_panel" class='base_container card_slot' style='display:none;'>
        <div id='option_button_slot'>
            <div class='option_button buttonstyle' id="hit_option" onclick="app.server.game.send_action('hit')">
                Hit
            </div>
            <div class='option_button buttonstyle' id="stand_option" onclick="app.server.game.send_action('stand')">
                Stand
            </div>
            <div class='option_button buttonstyle' id="double_option" onclick="app.server.game.send_action('double')">
                Double
            </div>
            <div class='option_button buttonstyle' id="split_option" onclick="split();">
                Split
            </div>
            <div class='option_button buttonstyle' id="surrender_option" onclick="app.server.game.send_action('surrender')">
                Surrender
            </div>
        </div>
    </div>
	<div id ="cards"></div>
	<div id="split_hand"></div>
</div>

    
	
<div id='player_board'>
            {% for seat in table.seats %}
			<div class='player_slot'>
            	<div class="player_cards" id="player_cards_pos_{{seat.position}}"></div>
                <div class='player_tab base_container' id="player_tab_pos_{{seat.position}}">
                	<div class="player_tab_name">Empty Seat</div>
					<div class='balance_label'>
						<div class='acct_bal'></div>
					</div>
					
                </div>
			</div>
            {% endfor %}
</div>
