body, html {
    background: #4c4b49 url('/static/images/green_bg.png') no-repeat top center;
    font-family: "Lucida Sans";
	width:100%;
	min-height:100%;
	margin: 0;
	height: 100%;
}

input {
    border: none;
}

select#table_type_selector {
    width: 200px;
    height: 40px;
    padding: none;
}

.base_container {
    filter: alpha(opacity = 60);
    background-color: #333;
    color: #fafaf2;
	
	
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: auto;
    opacity: 0.7;
    -moz-box-shadow: 4px 4px 4px black;
    -webkit-box-shadow: 4px 4px 4px black;
}

.formitemcontainer {
    height: auto;
    width: 100%;
    margin: 20px 20px;
}

.formlabel {
    float: left;
}

.forminput {
    font-size: 12px;
    margin-left: 150px;
}

input[type = text] {
    color: #333333;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#table_list {
    width: 1100px;
    margin: 100px auto;
    padding: 20px;
}

#new_table_form {
    width: 600px;
    margin: 300px auto;
    height: auto;
    padding: 20px;
    color: white;
    opacity: 0.8;
    font-size: 22px;
}

#main_table th {
    font-weight: bold;
    font-size: 18px;
}

#main_table {
    width: 100%;
    margin: 30px 0;
}

#main_table td {
    text-align: center;
    padding: 5px;
}

#main_table tr {
    margin-top: 3px;
}

#main_table tr td:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#main_table tbody tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

h2#table_title {
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

#table_title_sub_title {
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    font-size: 19px;
    text-align: center;
}

#button_space {
    width: 100%;
    height: 70px;
}

.buttonstyle {
    background-color: #222;
    color: #white;
    -moz-border-radius:
    10px;
    -webkit-border-radius:
    10px;
    height:
    55px;
    line-height:
    55px;
    width:
    200px;
    float: right;
    font-size:
    22px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -moz-box-shadow:
    4px 4px 4px black;
    -webkit-box-shadow:
    4px 4px 4px black;
    margin-top:
    20px;
}

.buttonstyle:hover {
    background-color: #555;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.fixed_inner {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#cancel_add_new_table_button {
    float: left;
}

#seats_table {
    position: fixed;
    bottom: 0;
    width: 100%
}html {
    height: 100%;
}


#seats_table td {
    text-align: center;
}

#bid_form {
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    padding: 20px;
}

#cards {
    height: 45%;
    margin: 2% 0 0 0;
    width: auto;
}

#dealer_cards {
    height: 30%;
    width: auto;
}

#dealer_cards .card_slot {
}

.card_slot {
    display: block;
    float: left;
	margin: 0 0;
    height: 100%;
	padding: 5px;
	width: 12%;
}
#option_panel {
    height: 71%;
    margin: 5px 20px 0 5px;
    padding: 15px 10px;
    width: 15%;
}
#option_button_slot{
	height: 100%;
}
.option_button {
    float: none;
    margin: 10px 0 10px 10px;
	line-height: 200%;
	height: 15%;
	width: 85%;
}

#bottom_toolbar{
	height: 60px;
	position: fixed;
	bottom: 0;
	width: 100%;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
/*	background: url('/static/images/bottom_tool_bar.png') repeat-x; */
}

#info_bar{
	float: right;
	margin-right: 40px;
	display:block;
}

#leave_table_button.buttonstyle{
	height: 40px;
	line-height: 40px;
	margin: 5px 25px;
}
#balance_label{
	height: 50px;
	padding: 5px;
	color: #fafaf;
	font-weight: bold;
	line-height: 50px;
	font-size: 25px;
	width: 300px;
	margin: 0 auto;
}



.player_tab {
    width: 90%;
    height: 125px;
    margin: 0 auto;
    padding: 5px;
    font-size: 22px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomright: 0px;
}




.player_tab_name{
    width: 100%
	font-weight: 12px;
	text-align: center;
}



.player_card{
	height: 100%;
	width: 20px;
	margin: 2px;
}


.player_tab_cards{
	
	width: 100%;
	overflow-auto;
	
}

.player_tab.current_turn{
	background-color: #eee !important;
	color: #333;
}
