{% extends 'base.html' %}
{% block head %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}/js/websocket_js/swfobject.js">
</script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/websocket_js/web_socket.js">
</script>
<script type='application/javascript' src="{{MEDIA_URL}}js/jquery-1.5.1.min.js">
</script>
<script src = '{{MEDIA_URL}}/js/table.js' type="application/javascript">
</script>
<script src = '{{MEDIA_URL}}/js/utils.js' type="application/javascript">
</script>
{% endblock head %}
{%block content %}
{% endblock content %}
